:root {
  --font-primary: "Raleway", serif;
  --font-secondary: "Oswald", serif;
  /* colors */
  --colorTextPrimary: #000000;
  --colorTextContrast: #ffffff;
  --colorButton: #b2ffa6;
  --colorBgPrimary: #121212;
  --colorBgSection: #efefef;
}
body {
  font-family: var(--font-primary);
  color: var(--colorTextPrimary);
  font-size: 24px;
  line-height: 1.17;
  font-weight: 400;
}
.container {
  max-width: 1650px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header {
  background-color: var(--colorBgPrimary);
  padding-bottom: 32px;
  padding-top: 32px;
}
.nav-link {
  color: var(--colorBgSection);
  font-family: var(--font-secondary);
}
.nav-link:hover {
  color: var(--colorButton);
}
.hero-content {
  padding-top: 150px;
  padding-bottom: 365px;
}
/* section hero */
.hero-title {
  font-size: 64px;
  font-weight: 400;
  text-transform: capitalize;
}
.hero-title-part {
  font-weight: 700;
  font-size: 64px;
}
.hero-button {
  line-height: 1.5;
  letter-spacing: 0.6em;
  background-color: var(--colorButton);
  font-family: var(--font-secondary);
}
/* about */
.about-title {
  font-weight: 700;
  text-transform: capitalize;
  font-size: 40px;
}
.about-text {
  font-size: 32px;
  line-height: 1.19;
}
.about {
  background-color: var(--colorBgSection);
}
.about-content {
  padding-top: 100px;
  padding-bottom: 100px;
}
.about-link {
  color: var(--colorTextPrimary);
  line-height: 1.5;
  background-color: var(--colorButton);
  font-family: var(--font-secondary);
  text-decoration: none;
}
.feachers {
  padding-top: 60px;
  padding-bottom: 60px;
}
.feachers-title {
  font-weight: 700;
  font-size: 32px;
  text-transform: capitalize;
}
.services {
  background-color: var(--colorBgSection);
  padding-top: 60px;
  padding-bottom: 60px;
}
.feachers-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
}
.services-text {
  font-size: 32px;
  text-align: center;
}
.services-name {
  font-weight: 600;
}
.services-button {
  font-family: var(--font-secondary);
  letter-spacing: 0.6em;
  line-height: 1.5;
  border: 3px solid var(--colorButton);
  border-radius: 5px;
  padding: 15px 80px;
  cursor: pointer;
}
.footer-title {
  font-weight: 700;
  font-size: 32px;
  text-transform: capitalize;
}
.footer {
  background-color: var(--colorBgPrimary);
  padding-top: 36px;
  padding-bottom: 36px;
}
.footer-logo {
  font-weight: 300;
  color: var(--colorTextContrast);
  font-size: 40px;
}
.footer-logo-part {
  font-weight: 700;
  color: var(--colorTextContrast);
  font-size: 40px;
  text-decoration: none;
}
.footer-policy {
  color: var(--colorTextContrast);
  /* text-align: end; */
  font-size: 24px;
}
